<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="header"></th:block>
    <script type="text/javascript" th:inline="javascript">
		/* <![CDATA[ */
		$(function () {
			$('#history').DataTable({
				searching: false,
				paging: false,
				ordering: false,
				info: false,
				ajax: {
					url: "/api/v1/histories",
					dataSrc: function (json) {
						return json;
					}
				},
				columns: [
					{data: "keyword"},
					{data: "searchTime"}
				]
			});
		});
		/* ]]> */
    </script>
</head>

<th:block th:include="menu"></th:block>

<table id="history" class="display table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>제목</th>
        <th>검색 시간</th>
    </tr>
    </thead>
</table>

</body>
</html>