<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="header"></th:block>

    <title>Main</title>
    <script type="text/javascript" th:inline="javascript">
		/* <![CDATA[ */
		$(function () {
			$("#btn-logout").click(function () {
				$("#form-logout")[0].submit();
			});

			$("#btn-search").click(function () {
				$("#form-search")[0].submit();
			});

			/*$('#example').DataTable( {
				data : "content",
				processing: true,
				serverSide: true,
				paging: true,
				searching: { "regex": true },
				ajax: "/api/v1/books",
				bPaginate: true
			} );*/
		});
		/* ]]> */
    </script>
</head>

<span sec:authentication="principal.username"></span>

책 검색 | 내 검색 히스토리 | 인기 키워드 목록 | <button id="btn-logout">Logout</button>
<hr/>

<form name="form-search" action="/book-search" method="GET">
    <input type="text" name="title"/>
    <input type="hidden" name="page" value="1"/>
    <input type="submit" id="btn-search" value="Search"/>
</form>

<hr/>

<div th:if="${bookPage != null}">
    <table class="display table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th th:text="Title"/>
            <th th:text="Contents"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, iStat : ${bookPage.content}">
            <!--<td th:text="${book.title}" th:href="/api/v1/ddd/${iStat.index}" />
            <td th:text="${book.contents}"/>-->

            <td><a href="/api/${iStat.index}"><span th:text="${book.title}">contents</span></a></td>
            <td><span th:text="${book.contents}">contents</span></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${bookPage.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/listBooks(size=${bookPage.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==bookPage.number + 1} ? active"></a>
    </div>

</div>

<table id="example" class="display table table-striped table-bordered table-hover" style="width:100%">
    <thead>
    <tr>
        <th>title</th>
        <th>contents</th>
    </tr>
    </thead>
</table>

<form id="form-logout" th:action="@{/logout}" method="post">
</form>

</body>
</html>